.App {
  text-align: center;
}

.meta-content {
  flex-direction: row;
  flex-wrap: wrap;
}

.poster {
  max-height: 444px !important;
  max-width: 300px !important;
}

.carousel-select {
  width: 25% !important;
  padding-bottom: 10rem;
}
